{
  "exclude": "node_modules/",
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "topLevelAwait": true
    },
    "target": "esnext",
    "baseUrl": ".",
    "rewriteRelativeImportExtensions": true
  },
  "module": {
    "type": "nodenext",
    "resolveFully": true
  }
}
